<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article detail</title>
  </head>
  <body>
    <h1>{{ article.title }}</h1>
    <p>{{ article.content}}</p>
    <p>{{ article.created_at }}</p>
    <p>{{ article.user }}</p>

    {% if article.user == request.user %}
    <a href="{% url 'community:update_article' article.id %}">
      <button>수정버튼</button>
    </a>

    <form
      action="{% url 'community:delete_article' article.id %}"
      method="POST"
    >
      {% csrf_token %}
      <button type="submit">삭제버튼</button>
    </form>

    {% endif %}

    <div>
      <h3>댓글 부분</h3>
      {% for comment in article.comment_set.all %}
      <div>
        <div>댓글 작성자 : {{ comment.user }}</div>
        <div>댓글 내용 : {{ comment.content }}</div>
        {% if comment.user == request.user %}
        <form
          action="{% url 'community:delete_comment' article.id comment.id %}"
          method="post"
        >
          {% csrf_token %}
          <input type="submit" />
        </form>
        {% endif %}
        <br />
      </div>
      {% endfor %}
    </div>

    <div>
      <form
        action="{% url 'community:create_comment' article.id %}"
        method="post"
      >
        {% csrf_token %}
        <input
          type="text"
          name="content"
          id="content"
          placeholder="댓글 입력해주세요!"
        />
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
